

  .start-btn{
      text-align: center;
      display: inline-block;
      margin:5px;
      font-weight: bold;
      padding: 10px 0 10px 10px ;
      background-color: lightgray;
      text-shadow: -1px -1px black, 1px 1px white;
      color: gray;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -o-border-radius: 7px;
      border-radius: 7px;
      box-shadow: 0 .2em gray; 
      cursor: pointer;
  
  }
  .video-game-button:active, .start-btn:active {
      box-shadow: none;
      position: relative;
      top: .2em;
  }

  
  
  
  /*header styling*/
  header {
      background-color: #D3D3D9; 
      display: flex; 
      justify-content: flex-start;
      align-items: center;
      padding: 10px 5px;
      border: 4px black solid;
    }
  
      /*icon sizing*/
   header img {
     width:52px; 
     height:52px; 
    }
  
  /*nav button styling*/
  nav ul { 
    list-style: none; 
      }
  
   nav ul li {
          display: inline-block;
          text-transform: uppercase;
          font-family: 'Press Start 2P', cursive;
          font-size: 1.5vh;
      }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  /*about button*/
  .button-one {
    background-color: #3BB273;
    padding: 10px 2px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #339963;
    }
  
  /*projects button*/
  .button-two {
    background-color: #4D9DE0;
    padding: 10px 2px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #2F8DDA;
    }
  
  /*blog button*/
  .button-three {
    background-color: #E15554;
    padding: 10px 2px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #DA2F2F;
    }
  
  /*contact button*/
  .button-four {
    background-color: #E1BC29;
    padding: 10px 2px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #C4A31C;
    }
  
  /*button click hover effect*/
  nav ul li:hover {
    transform: scale(.9, .9);
  }
  
  /*animation for icon*/
  .logo:hover {
      animation: rumble 0.3s linear;
  }
  
  @keyframes rumble {
      25% {transform: rotate(10deg);}
      75% {transform: rotate(-20deg);}
  }
  
  #snes-box {
    text-align: center;
    margin-right: 100px;
  }
  
    #snes {
      width: 70%;
      height: 70%;
      margin: 0px auto;
    }
  
  @media only screen and (min-width: 768px) {
  
      header {
          justify-content: space-between;
    }
   
    header img {
      padding-left: 10px;
      width: 56px;
      height:66px;
      }
  
  nav ul li {
    padding: 10px 15px;
    margin-right: 20px;
    font-size: 1em;
    }
  
  @media only screen and (min-width: 1024px) {
  
  header {
    justify-content: space-between;
    }
  
  header img {
    padding-left: 20px;
    width: 72px;
    height: 82px;
    }
      
  nav li {
    padding: 10px 15px;
    margin-right: 20px;
    font-size: 1.2em;
    }
}}
  